[commit]
	verbose = true
	template = ~/.gittemplates/commit

[core]
	# Remove delta_side_by_side function when fixed
	# https://github.com/dandavison/delta/issues/359
	# https://github.com/wfxr/forgit/issues/121
	pager = delta --width $COLUMNS

[delta]
	syntax-theme = base16
	true-color = always

[init]
	defaultBranch = main

[interactive]
	diffFilter = delta --color-only

[fetch]
	prune = true

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[merge]
	conflictStyle = diff3

[pull]
	rebase = true

[user]
	name = Peter Tri Ho
	email = mail@petertriho.com
