[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[user]
	name = Peter Ho
	email = mail@petertriho.com

[pull]
	rebase = true

[core]
	# Remove when fixed
	# https://github.com/dandavison/delta/issues/359
	# https://github.com/wfxr/forgit/issues/121
	pager = sh -c 'delta --side-by-side -w $(get_delta_width)'

#[remote "origin"]
	# fetch = +refs/heads/*:refs/remotes/origin/*

[delta]
	syntax-theme = OneHalfDark

[interactive]
	diffFilter = delta --color-only

[fetch]
	prune = true

[init]
	defaultBranch = main
