[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[user]
	name = Peter Tri Ho
	email = mail@petertriho.com

[pull]
	rebase = true

[core]
	# Remove delta_side_by_side function when fixed
	# https://github.com/dandavison/delta/issues/359
	# https://github.com/wfxr/forgit/issues/121
    pager = delta --width $COLUMNS

#[remote "origin"]
	# fetch = +refs/heads/*:refs/remotes/origin/*

[delta]
	syntax-theme = base16
    true-color = always

[interactive]
	diffFilter = delta --color-only

[fetch]
	prune = true

[init]
	defaultBranch = main

[commit]
	verbose = true
	template = ~/.gittemplates/commit
